html {
    scroll-behavior: smooth;
}

body {
    font-family: "Courgette", cursive;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidenav img {
    margin-left: 10px;
    width: 85%;
    border-radius: 10%;
}

.sidenav h2 {
    font-family: 'Courgette', cursive;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    border: 2px solid #fff;
}

.sidenav a:hover {
    color: black;
    background-color: white;
}

.main {
    margin-left: 150px;
    font-size: 28px;
}

.top-left {
    position: absolute;
    top: 15px;
    left: 100px;
    color: white;
  }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.header {
    height: 700px;
    background-image: url(../img/sports/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.8;
}

.header img {
    background-repeat: no-repeat;
    background-size: cover;
}

#section-port {
    background-color: lightgray;
    padding: 60px 0px;

}

#section-port h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    font-family: 'Courgette', cursive;
}

.box img {
    max-width: 30%;
    max-height: 20%;
}

.imgBox {
    margin-left: 190px;
}

.hover:hover {
    opacity: 0.7;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
}

#section-about {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

#section-about h1{
    font-family: 'Courgette', cursive;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 200px;
}

.column1{
    float: left;
    width: 30%;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.media{
    margin-bottom: 10px;
    box-shadow: 0 4x 4x lightgray;
    color:rgb(20, 109, 211);
}

.media button{
    border-radius: 50%;
}

.media button:hover{
    color: white;
    background-color: blue ;
}

.sign{
    margin-right: 40px;
}

.row:after {
    display: table;
    clear: both;
}

#section-contact {
    text-align: center;
    background-color: lightgray;
    height: 100%;
}

#section-contact h1{
    font-family: 'Courgette', cursive;
}

.box-model,
.form {
    position: relative;
    background-color: lightgrey;
    width: 300px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    margin-top: 20%;
    margin-left: 290px;
}

.form {
    font-size: 22px;
    padding: 100px;
}

